@model List<DataModel.Market.Kategori>

<div class="row">
    <div class="col">
        <table class="table">
            <tbody>
                @foreach(var kategori in Model)
                {
                    <tr>
                        <td>@kategori.Id</td>
                        <td>@kategori.Ad</td>
                        <td>@kategori.KisaAd</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>