@model List<DataModel.Market.Marka>

<div class="container">
    <div class="row">

        <div class="col">
            <h5>Yeni Ürün Ekleme</h5>
            <form action="/Urun/urunEkle" method="post">

                <div class="form-row">
                    <div class="col-12 mb-3">
                      
                      <label for="floatingInput">Ürün Markası:</label>
                      <select name="MarkaId" class="form-control">

                          @foreach(var marka in Model)
                          {
                             <option value="@marka.Id">@marka.Ad</option>
                          }
                           @* <option value="1">Arçelik</option>
                          <option value="2">Vestel</option>
                          <option value="3">Beko</option>*@
                      </select>

                    </div>
                </div>

               <div class="form-row">

                  <div class="form-floating mb-3">
                       
                       <input id="urun_adi" required class="form-control" placeholder="Ürün adını giriniz" name="Ad" type="text" />
                        <label for="urun_adi">Ürün Adı:</label>
                   </div>

                   <div class="form-floating mb-3">
                      <input required type="text" class="form-control" name="Aciklama" id="floatingInput" placeholder="Ürün açıklamasını giriniz">
                      <label for="floatingInput">Ürün Açıklama:</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input required type="number" class="form-control" name="Fiyat" id="urun_fiyat" placeholder="Ürün fiyatını giriniz">
                      <label for="floatingInput">Ürün Fiyatı:</label>
                    </div>

                     <div class="form-floating mb-3">
                      <input required type="text" class="form-control" name="ImageAdres" id="urun-fotograf" placeholder="Ürün fiyatını giriniz">
                      <label for="urun_fotograf">Ürün Fotoğraf Adresi:</label>
                    </div>
               </div>


            @*TO DO: Ürünün birden fazla kategoriye eklenebilmesini sağlayan özellik eklenecek *@
            <div class="form-row">
                <label>Ürün Kategorileri</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Elektronik
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Bilgisayar
                  </label>

                 
                </div>

                <div class="form-check">
                
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Tekstil
                  </label>

               
                </div>

            </div>

               <div class="form-row">
                   <button type="submit" class="btn btn-primary">Kaydet</button>
               </div>
               
   
               

            </form>

        </div>

    </div>
</div>