@model DataModel.Market.Kullanici

@if(Model!=null && Model.Id>0)
{
   <div class="d-flex justify-content-end">

       <span class="badge badge-warning display-3 bg-warning">@Model.Ad.ToUpper().FirstOrDefault() </span>
        <label>@Model.Ad @Model.Soyad</label>
        <a href="/Oturum/Cikis"> Çıkış</a>
   </div> 
}
else{
    <div class="d-flex justify-content-end">
      <a href="/Oturum/Index" class="btn btn-info">Oturum Aç</a>

    </div>
   
}

