@model List<DataModel.Market.Marka>

<div class="row">
    <div class="col">

        <table>
            <tbody>
                @foreach(var marka in Model)
                {
                    <tr>
                        <td>@marka.Id </td>
                        <td>@marka.Ad</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>